a:link {color:#000000;}      /* unvisited link */
a:visited {color:#000000;}  /* visited link */
a:hover {color:#000000;}  /* mouse over link */
a:active {color:#000000;}  /* selected link */

body{
	margin:0;
}
div.watermark{
	display:block;
	position:fixed;
	z-index:-1;
	width:100%;
	height:100%;
}
	div.content > *:first-child,x:-moz-any-link{margin-top:0;}/* ff only */
	div.watermark,x:-moz-any-link{z-index:auto;}/* ff only */
	div.watermark,x:-moz-any-link,x:default{z-index:-1;}/* ff3 only */

	@media all and (min-width: 0px){div.watermark{width:8.5in;}} /* opera only */

	div.watermark div{
		position:absolute;
		left:0;
		width:99%;
	}

/* watermark position */
/* horizontal */
div.left{text-align:left;}
div.center{text-align:center;}
div.right{text-align:right;}
	body:last-child:not(:root:root) div.right div{left:-160px;}/* safari only */

/* vertical */
div.top div{top:0;}
div.middle div{top:25%;margin-top:-80px;}
div.bottom div{bottom:2px;}